@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");

html > body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  height: "100vh";
}

/* 스크롤바 스타일링 */
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: gray;
}
body::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
/* ////////////////////////////////// */

#content {
  font-family: "Architects Daughter", cursive;
}

@media all and (min-width: 1920px) {
  #content {
    font-size: 4.3vw;
  }
}
@media all and (max-width: 1920px) {
  #content {
    font-size: 7vw;
  }
}

#postCard:hover {
  transform: translateX(1%);
  border-left: 5px solid darkcyan;
  padding-left: 1.5%;
}
